<div class="w-full h-screen md:aspect-video lg:h-full relative">
  <img
    src="/images/esland/logo-home.svg"
    alt="Premios a la comunidad hispanohablante de streaming"
    class="absolute m-auto w-[1000px] inset-0 z-10"
  />
  <video
    src="/videos/esland.webm"
    autoplay
    loop
    muted
    class="w-full h-full object-cover object-top clip-path-v animate-ease-in-out animate-fade animate-duration-[2000]"
  ></video>
  <video
    src="/videos/esland.webm"
    autoplay
    loop
    muted
    class="absolute -bottom-48 -z-10 blur-3xl"></video>
</div>
