---
import Layout from '../layouts/layout.astro';
import Card from '../components/card.astro';
import Header from '../components/header.astro';
import Hero from '../components/hero.astro';

const allPosts = await Astro.glob('../content/blog/*.md');
---

<Layout title="Welcome to Astro.">
  <main>
    <Header title="Bienvenido a Astro" />
    <Hero />
    <ul role="list" class="link-card-grid">
      {
        allPosts.map((post) => (
          <Card
            tags={post.frontmatter.tags}
            date={post.frontmatter.pubDate}
            title={post.frontmatter.title}
            slug={post.url || '/'}
          />
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
