---
import Layout from "../layouts/layout.astro";
import Header from "../components/esland/header.astro";
import Video from "../components/esland/video.astro";
import Intro from "../components/esland/intro.astro";
import Bento from "../components/esland/bento.astro";
import Guide from "../components/esland/guide.astro";
import Footer from "../components/esland/footer.astro";
---

<Layout title="Premios Esland">
  <Header />
  <Video />
  <main>
    <Intro />
    <Bento />
    <Guide />
  </main>
  <Footer />
</Layout>

<script is:inline>
  window.scrollTo(0, 0);
</script>
