---
import Layout from "../layouts/Layout.astro";
import MainHeader from "../tesla-landing/landing-header.astro";
import ModelY from "../tesla-landing/model-y.astro";
import HeroSection from "../tesla-landing/landing-section.astro";
---

<Layout title="Astro WorkShops">
  <MainHeader />
  <main
    class="w-full h-screen overflow-auto snap-y snap-mandatory scroll-smooth"
  >
    <HeroSection className="snap-center" />
  </main>
</Layout>
