---
import Layout from "../layouts/Layout.astro";
import MainHeader from "../tesla-landing/landing-header.astro";
import LandingSection from "../tesla-landing/landing-section.astro";
import LandingBtn from "../tesla-landing/landing-btn.astro";
---

<Layout title="Astro WorkShops">
  <MainHeader />
  <main
    class="w-full h-screen overflow-auto snap-y snap-mandatory scroll-smooth"
  >
    <LandingSection
      title="Vive la experiencia Tesla"
      subtitle="Agenda una demostración de manejo hoy"
      color="white"
    >
      <video
        slot="background"
        src="/video.webm"
        class="object-cover h-full w-full"
        autoplay
        muted
        loop></video>
      <LandingBtn slot="footer" text="Demostración de manejo" />
    </LandingSection>
    <LandingSection
      title="Model 3"
      subtitle="Agenda una demostración de manejo hoy"
      id="model-3"
    >
      <img
        slot="background"
        src="/images/model-3.webp"
        alt="Model 3"
        class="object-cover h-full w-full"
      />
      <div class="flex justify-center gap-5" slot="footer">
        <LandingBtn text="Explora el inventario" mode="light" />
        <LandingBtn text="Orden personalizada" mode="dark" />
      </div>
    </LandingSection>
    <LandingSection
      title="Model Y"
      subtitle="Agenda una demostración de manejo hoy"
      id="model-y"
    >
      <img
        slot="background"
        src="/images/model-y.webp"
        alt="Model Y"
        class="object-cover h-full w-full"
      />
      <div class="flex justify-center gap-5" slot="footer">
        <LandingBtn text="Explora el inventario" mode="light" />
        <LandingBtn text="Orden personalizada" mode="dark" />
      </div>
    </LandingSection>
    <LandingSection
      title="Model S"
      subtitle="Agenda una demostración de manejo hoy"
      id="model-s"
    >
      <img
        slot="background"
        src="/images/model-s.webp"
        alt="Model S"
        class="object-cover h-full w-full"
      />
      <div class="flex justify-center gap-5" slot="footer">
        <LandingBtn text="Explora el inventario" mode="light" />
        <LandingBtn text="Orden personalizada" mode="dark" />
      </div>
    </LandingSection>
    <LandingSection
      title="Model X"
      subtitle="Agenda una demostración de manejo hoy"
      id="model-x"
    >
      <img
        slot="background"
        src="/images/model-x.webp"
        alt="Model X"
        class="object-cover h-full w-full"
      />
      <div class="flex justify-center gap-5" slot="footer">
        <LandingBtn text="Explora el inventario" mode="light" />
        <LandingBtn text="Orden personalizada" mode="dark" />
      </div>
    </LandingSection>
    <LandingSection
      title="Energía solar y Powerwall"
      subtitle="Totalmente eléctrico"
      id="cybertruck"
    >
      <img
        slot="background"
        src="/images/powerwall.webp"
        alt="Energía solar"
        class="object-cover h-full w-full"
      />
      <LandingBtn slot="footer" text="Más información" />
    </LandingSection>
    <LandingSection title="Accesorios" subtitle="" id="powerwall">
      <img
        slot="background"
        src="/images/accessories.webp"
        alt="Accesorios"
        class="object-cover h-full w-full"
      />
      <LandingBtn slot="footer" text="Compra ahora" mode="dark" />
    </LandingSection>
  </main>
</Layout>
