---
import Logo from "./tesla-logo.astro";
---

<header
  id="main-header"
  class="flex items-center justify-between fixed top-0 w-full py-4 px-10 z-10 text-white"
>
  <div class="flex flex-grow basis-0">
    <a href="/"><Logo /></a>
  </div>
  <nav>
    <ul
      class="flex text-sm font-medium [&>li>a]:transition-colors [&>li>a]:duration-300 [&>li>a]:inline-block [&>li>a]:py-2 [&>li>a]:px-4"
    >
      <li><a href="#model-s">Model S</a></li>
      <li><a href="#model-3">Model 3</a></li>
      <li><a href="#model-x">Model X</a></li>
      <li><a href="#model-y">Model Y</a></li>
      <li><a href="#cybertruck">Cybertruck</a></li>
      <li><a href="#powerwall">Powerwall</a></li>
    </ul>
  </nav>
  <nav class="flex flex-grow justify-end basis-0">
    <ul
      class="flex text-sm font-medium [&>li>a]:transition-colors [&>li>a]:duration-300 [&>li>a]:inline-block [&>li>a]:py-2 [&>li>a]:px-4"
    >
      <li><a href="#">Tienda</a></li>
      <li><a href="#">Cuenta</a></li>
      <li><a href="#">Menú</a></li>
    </ul>
  </nav>
  <div
    id="menu-backdrop"
    class="absolute bg-black/10 backdrop-blur-lg rounded top-0 left-0 translate-x-[var(--left)] translate-y-[var(--top)] w-[var(--width)] h-[var(--height)] transition-all duration-500 opacity-0 -z-10"
  >
  </div>
</header>

<script>
  const $listItem = document.querySelectorAll("#main-header li");
  const $menuBackDrop = document.querySelector("#menu-backdrop") as HTMLElement;

  $listItem.forEach((item) => {
    item.addEventListener("mouseenter", () => {
      const { left, top, width, height } = item.getBoundingClientRect();

      $menuBackDrop.style.setProperty("--left", `${left}px`);
      $menuBackDrop.style.setProperty("--top", `${top}px`);
      $menuBackDrop.style.setProperty("--width", `${width}px`);
      $menuBackDrop.style.setProperty("--height", `${height}px`);
      $menuBackDrop.style.opacity = "1";
      $menuBackDrop.style.visibility = "visible";
    });
    item.addEventListener("mouseleave", () => {
      $menuBackDrop.style.opacity = "0";
      $menuBackDrop.style.visibility = "hidden";
    });
  });
</script>

<script>
  const $header = document.getElementById("main-header");
  const observerOpts: IntersectionObserverInit | undefined = {
    root: undefined,
    rootMargin: "0px",
    threshold: 0.9,
  };

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      const { isIntersecting } = entry;
      if (isIntersecting) {
        $header.style.color = entry.target.getAttribute("data-header-color");
      }
    });
  }, observerOpts);

  const $sections = document.querySelectorAll(".landing-sections");
  $sections.forEach((section) => observer.observe(section));
</script>
