---
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section
  class=`h-screen w-screen text-center relative overflow-hidden bg-black landing-sections ${className}`
  data-header-color="white"
>
  <div class="absolute top-0 left-0 bottom-0 right-0">
    <video
      class="object-cover h-full w-full"
      src="/video.webm"
      autoplay
      muted
      loop
    >
    </video>
  </div>
  <header class="text-white relative">
    <h2 class="pt-28 text-[40px] font-medium">Vive la experiencia Tesla</h2>
    <p class="text-sm">Agenda una demostración de manejo hoy</p>
  </header>
  <footer class="absolute text-center w-full bottom-20 text-white">
    <a
      href="#"
      class="border-2 border-white inline-block text-sm font-medium px-9 rounded transition-all py-2 hover:bg-white hover:text-black"
      >Demostración de manejo</a
    >
  </footer>
</section>
