<section
  class="h-screen w-screen text-center relative overflow-hidden bg-black snap-center landing-sections snap-always"
  data-header-color="black"
>
  <div class="absolute top-0 left-0 bottom-0 right-0">
    <img
      src="/images/model-y.avif"
      alt="Model Y"
      class="object-cover h-full w-full"
    />
  </div>
  <header class="text-black relative">
    <h2 class="pt-28 text-[40px] font-medium">Model Y</h2>
    <p class="text-sm underline underline-offset-4">
      Agenda una demostración de manejo
    </p>
  </header>
  <footer class="absolute text-center w-full bottom-20 text-white">
    <div class="flex items-center justify-center gap-5">
      <a
        href="#"
        class="text-sm border-2 border-white font-medium px-9 rounded transition-all py-2 bg-white text-gray-700"
        >Explora el inventario</a
      >
      <a
        href="#"
        class="text-sm border-2 border-gray-500 font-medium px-9 rounded transition-all py-2 bg-gray-500 text-white"
        >Orden personalizada</a
      >
    </div>
  </footer>
</section>
