---
import HyperDrive from "../components/hyper-drive.astro";
import Logo from "../components/logo.astro";
import Starfield from "../components/starfield.astro";
import Layout from "../layouts/layout.astro";
---

<Layout title="¡La fiesta de la programación!">
  <div class="absolute top-0 bottom-0 w-full">
    <Starfield noGradient />
    <HyperDrive class="z-0 w-full h-full" />
  </div>
  <main class="grid place-content-center w-screen h-screen">
    <section class="flex items-center flex-col gap-y-8">
      <div>
        <Logo />
      </div>
      <div class="-rotate-[10deg] text-center">
        <h2 class="italic font-extrabold text-4xl text-white">22 de marzo</h2>
        <h3 class="italic text-white/80 text-lg">
          17:00 horas GMT+1 · Streaming en twitch.tv/midudev
        </h3>
      </div>
    </section>
  </main>
</Layout>
